<div id="Queueview">
    <div class="card">
        <div class="card-header">
            <div style="float: left; margin-right:40px">
                <h6 style="font-size:1.2rem; font-weight: 600; font-family:'Times New Roman', Times, serif; display: inline; user-select: none;">Queueing Traffic at a certain Intersection</h6>
            </div>
            <div style="position: absolute;top:0px;left:625px;">
                <input type="button" class="cute-btn" style="font-size:0.9rem;  font-weight: 600; font-family:'Times New Roman', Times, serif; height: 36px; width:50px;" value="Clear" v-on:click="clearQueue"/>
            </div>
        </div>
        <div class="card-block" id="QueueContainer"></div>
    </div>
</div>
